.error-req-from {
	background-color: inherit;
	height: 20px;
	color: red;border: 0px;
	margin-top: -16px;
	padding-left: 0px;
	display:none;
}


.hidden_w0_h0_blk {
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: block;
	position: absolute;
}

.form_error_text {
	position: absolute;
	color: red !important;
	opacity: 0.5 !important;
	margin-top: -19px;
	display:none;
}

.qwe section .request .input_group .form_author {
	color: #666 !important;
}

.qwe section .request .text-t {
	color: #7e7e7e;
	margin-top: 10px;
}